extends layout

block content
  #main-container
    #hoursPrompt Enter your hours
    #date
      button#yesterday(onclick="changeInput('#dateInput', -1)") <<
      input#dateInput(type="date")
      button#tomorrow(onclick="changeInput('#dateInput', 1)") >>
    #time
      #hours 
        button#hoursPlus(onclick="changeInput('#hoursInput', 1)") +1
        input#hoursInput(type="number" value="0" min="0")
        button#hoursMinus(onclick="changeInput('#hoursInput', -1)") -1
      #minutes
        button#minutesPlus(onclick="changeInput('#minutesInput', 15)") +15
        input#minutesInput(type="number" step="15" value="0" min="0")
        button#minutesMinus(onclick="changeInput('#minutesInput', -15)") -15
    #hoursTypeContainer
      label#hoursTypeLabel(for="hoursType") Type of hours: 
      select#hoursType(name="hoursType")
        option(value="worked") Worked
        option(value="vacation") Vacation
    button#submitHours(type="submit" onclick="submitHours()") Submit
    #error.hidden
    #hoursList
  #footer
    i#menuButton(class="fa-solid fa-bars")
    i#historyButton(class="fa-solid fa-clock-rotate-left")
    i#calendarViewButton(class="fa-solid fa-calendar")
