extends layout

block content
  #main-container
    #hoursPrompt Enter your hours
    #date
      button#yesterday -1 Day
      input#dateInput(type="date")
      button#tomorrow +1 Day
    #time
      #hours 
        button#hoursMinus +1
        input#hoursInput(type="number" value="0")
        button#hoursPlus -1
      #minutes
        button#minutesMinus +15
        input#minutes(type="number" step="15")
        button#minutesPlus -15
    #hoursTypeContainer
      label#hoursTypeLabel(for="hoursType") Type of hours: 
      select#hoursType(name="hoursType")
        option(value="worked") Worked
        option(value="vacation") Vacation
    button#submitHours(type="submit") Submit
    #error.hidden  
  #footer
    i#menuButton(class="fa-solid fa-bars")
    i#historyButton(class="fa-solid fa-clock-rotate-left")
    i#calendarViewButton(class="fa-solid fa-calendar")
