extends layout

block scripts 
  script(type="text/javascript" src="/javascripts/index.js")

block content
  #indexContainer.mainContainer
    #hoursPrompt.pageTitle Enter your hours
    #date
      button#yesterday(onclick="document.querySelector('#dateInput').stepDown()")
        i.rightArrow.fa-solid.fa-arrow-left-long
      input#dateInput(type="date")
      button#tomorrow(onclick="document.querySelector('#dateInput').stepUp()")
        i.rightArrow.fa-solid.fa-arrow-right-long
    #time
      #hours 
        button#hoursPlus(onclick="changeInput('#hoursInput', 1)") +1
        input#hoursInput(type="number" value="0" min="0")
        button#hoursMinus(onclick="changeInput('#hoursInput', -1)") -1
      #minutes
        button#minutesPlus(onclick="changeInput('#minutesInput', 15)") +15
        input#minutesInput(type="number" step="15" value="0" min="0")
        button#minutesMinus(onclick="changeInput('#minutesInput', -15)") -15
    #timeLabels
      label(for="hoursInput") Hours 
      label(for="minutesInput") Minutes 
    #hoursTypeContainer
      label#hoursTypeLabel(for="hoursType") Type of hours: 
      select#hoursType.selector(name="hoursType")
        option(value="worked") Worked
        option(value="vacation") Vacation
    #organizationSelectContainer.hidden 
      label#organizationSelectLabel(for="organizationSelect") Organization: 
      select#organizationSelect.selector(name="organizationSelect")
    button#submitHours(type="submit" onclick="submitHours()") Submit
  #footer
    i#menuButton.fa-solid.fa-bars(onclick="toggleMenu()")
    if user
      i#historyButton.fa-solid.fa-clock-rotate-left(onclick="window.location='/hours'")
      i#calendarViewButton.fa-solid.fa-calendar(onclick="window.location='/calendar'")
  include menu