doctype html
html
  head
    title= title    
    script(type="text/javascript" src="/javascripts/main.js")
    script(type="text/javascript" src="/javascripts/mainMenu.js")
    script(src="https://kit.fontawesome.com/0de4e9f77d.js" crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    block scripts
  body
    block content
