extends layout

block scripts 
  script(type="text/javascript" src="/javascripts/myOrgs.js")

block content
  #orgs-container
    #title Owned Organizations 
    #orgs
    #createOrg 
      input(type="text")
      button(onclick="createOrg()") Create New Org
  #footer
    i#menuButton.fa-solid.fa-bars(onclick="toggleMenu()")
    i#homeButton.fa-solid.fa-house(onclick="window.location='/'")
  include menu