:root {
  --main-background: #933;
  --main-font-color: #fff;
  --main-highlight: #fbd5cd;
  --main-black: #000;
}

html {
  height: 100%;
}

body {
  font: 14px "Quicksand", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--main-font-color);
  background-color: var(--main-background);    
  background: url(/images/background3.svg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

button {
  background-color: #fffc;
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
  color: var(--main-black);
  cursor: pointer;
  font-size: 1rem;
  opacity: .8;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  font-family: "Quicksand", sans-serif;
}

.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.small {
  transform: scale(0%, 0%) !important;
}

.left {
  transform: translateX(-100%);
}

.right {
  transform: translateX(100%);
}

#error {
  color: red;
  transition: .4s all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 999;
  background: var(--main-font-color);
  padding: 0.5em 1em;
  border: 1px solid var(--main-black);
  width: calc(90vw - 2em);
  text-align: center;
}

.error {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-style: italic;
  color: red;
}


.loading{
  -webkit-animation:zoom-in-out 2s ease-in-out 0s infinite normal;
  -moz-animation:zoom-in-out 2s ease-in-out 0s infinite normal;
  -ms-animation:zoom-in-out 2s ease-in-out 0s infinite normal;
  animation:zoom-in-out 2s ease-in-out 0s infinite normal;
  }
  
  @-webkit-keyframes zoom-in-out {
  0%{ -webkit-transform: scale(1); transform: scale(1); }
  50%{ -webkit-transform: scale(1.2); transform: scale(1.2); }
  100%{ -webkit-transform: scale(1); transform: scale(1); }
  }
  
  @keyframes zoom-in-out {
  0%{ -ms-transform: scale(1); transform: scale(1); }
  50%{ -ms-transform: scale(1.2); transform: scale(1.2); }
  100%{ -ms-transform: scale(1); transform: scale(1); }
  }
  

/*
div {
  border: 1px solid white;
  box-sizing: border-box;
}
*/


/*************************
*      Main Elements
**************************/

.mainContainer {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-rows: repeat(9, calc(10vh - 20px));
  grid-template-columns: repeat(10, 10%);
  row-gap: 20px;
  font-size: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
}

.pageTitle {
  grid-area: 1/1/2/11;
  text-align: center;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 7px #333a;
}

#date {
  grid-area: 2/1/3/11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  border-radius: 20px;
  background-color: var(--main-highlight);
}

#dateInput {
  font-size: 2rem;
  max-width: min-content;
  font-family: "Quicksand", serif;
  text-align: center;
}

#time {
  grid-area: 3/1/5/11;
  display: flex;
  justify-content: space-evenly;
}

#time div {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  flex-direction: column;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  border-radius: 20px;
  background-color: var(--main-highlight);
  padding: 0px 15px;
}

#time div select, #time div button {
  align-self: center;
}

#time div select {
  width: 5rem;
  font-size: 3rem;
  text-align: center;  
  font-family: "Quicksand", sans-serif;
}

#time div select option {
  font-size: 1rem;
}

#timeLabels {
  grid-area: 5/1/6/11;
  display: flex;
  justify-content: space-evenly;
}

#timeLabels label {
  width: calc(30px + 5rem + 8px);
}

#hoursTypeContainer {
  grid-area: 6/1/7/11;
}

#organizationSelectContainer {
  grid-area: 7/1/8/11;
}

.selector {
  font-size: 2rem;
  background-color: #0000;
  border: none;
  color: var(--main-font-color);
  text-decoration: underline dashed;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}

select.selector option {
  color: var(--main-black);
}

#hoursTypeLabel {
  font-size: 2rem;
  text-shadow: 1px 1px 5px #555;
}

#submitHours {
  grid-area: 8/1/9/11;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  padding: 10px 40px;
}

#footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 5vmin 8vmin;
  left: 0px;
  bottom: 0px;
  position: fixed;
  justify-content: space-between;
  font-size: 4vh;
  color: var(--main-background);
  background: var(--main-font-color);
}

#footer i {
  cursor: pointer;
}

#mainMenu {
  left: 0%;
  transform-origin: bottom left;
}

#orgMenu {
  display: grid;
  text-align: center;
  grid-template-rows: 2rem 11rem 1fr 2rem 1rem;
}

#orgMenu #close {
  font-size: 2rem;
}

#mainMenu, #orgMenu {
  transition: .5s all;
  position: absolute;
  z-index: 10;
  bottom: 0%;
  left: 0%;
  margin: 0px;
  padding: 5%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--main-font-color);
  color: var(--main-black);
  font-size: 1.5rem;
  will-change: transform;
}

#mainMenu div {
  font-size: 2rem;
}

div#login {
  margin-left: 1em;
  margin-top: 2em;
  text-shadow: 1px 1px 1px #3332;
}

#close {
  position: absolute;
  right: 5vw;
  top: 5vw;
}

#menuItems li {
  list-style-type: none;
  display: flex;
  margin: 1em 0px 1em 1em;
  cursor: pointer;
}

#menuItems i {
  margin-right: 1em;
  width: 1em;
}

#addOrg {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addOrgInputs {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#addOrgInputs input {
  text-align: center;
  font-size: 2rem;
  width: 8rem;
  margin-right: 0.5rem;
}

#orgList {
  grid-area: 3/1/4/2;
}

#showCreateOrg button {
  border: 1px solid black;
  font-size: 1.5rem;
  height: 3rem;
}

#fetchingOrgs {
  position: relative;
  top: 20%;
  left: calc(50% - 48px);
  background: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 96px;
  width: 96px;
}

#orgs-container {
  display: grid;
  grid-template-rows: 1rem 4rem 1fr 8rem;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: start;
  max-height: 100%;
  height: calc(94vh - 10vmin);
}

#orgs-container #title {
  grid-area:2/1/3/2;
  font-size: 2rem;
}

#orgs-container #orgs {
  grid-area:3/1/4/2;
  font-size: 1.5rem;
}

#createOrg {  
  grid-area: 4/1/5/2;
  font-size: 1rem;
  align-self: center;    
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7em;
  align-items: center;
}

#createOrg input {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

#createOrg button {
  padding: 15px 20px;
}

#orgs {
  width: 90%;
  margin: 0 auto;
}

.org:hover {
  text-decoration: underline;
}

.org {
  display: grid;
  grid-template-columns: 1fr 5rem;
  grid-column-gap: 1rem;
  justify-items: start;
}

.orgName {
  margin-right: 2rem;
}

#hours-container {
  display: grid;
  font-size: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 3rem 1fr;
  justify-items: center;
  align-items: center;
  height: calc(94vh - 10vmin);
}

#hours-container #title {
  grid-area:2/1/3/2;
  font-size: 2rem;
}

#hours-container #periods {
  grid-area: 3/1/4/2;
  width: 95%;
  align-self: start;
  margin-top: 1rem;
}

#periodSelector {
  grid-area: 2/2/3/10;
}

#periods {
  grid-area: 3/1/9/11;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding: 0px 1rem;
}

.displayPeriod {
  display: grid;
  grid-template-columns: 7rem 1fr 3rem 6rem;
  grid-column-gap: 10px;
}

.hoursDisplay {
  display: grid;
  grid-template-columns: 3rem 6rem 1fr 2rem 2rem;
  width: 100%;
}

.editHours, .deleteHours {
  justify-self: end;
}

.hoursDisplay .typeDisplay {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#calendar {
  width: 21rem;
  background: var(--main-highlight);
  border-radius: 12px;
  padding: 13px;
  color: var(--main-black);
  font-size: 1.2rem;
  top: 5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#dateBar {
  display: grid;
  grid-template-columns: 3rem 13rem 3rem;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}

#dateBar i {
  align-self: center;
  justify-self: center;
}

#dateBar #dateBarMonth {
  align-self: center;
  justify-self: end;
  margin-right: .2rem;
}

#dateBar #dateBarYear {
  align-self: center;
  justify-self: start;
  margin-left: .2rem;
}

#weekDays {
  display: grid;
  grid-template-columns: repeat(7,3rem);
}

.weekDay {  
  align-self: center;
  justify-self: center;
}

#dates {
  display: grid;
  grid-template-columns: repeat(7,3rem);
  grid-template-rows: repeat(6,4rem);
}

.calendarDay {
  align-self: center;
  justify-self: center;
  width: 3rem;
}

#calendarShadow {
  z-index: 2;
  background-color: black;
  opacity: .7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.calendarModal {
  z-index: 3;
  position: absolute;
  top: 10rem;
  left: 50%;
  background-color: var(--main-background);
  padding: 20px 10px;
  border-radius: 12px;
  transform: translateX(-50%);
}

#monthModal {
  width: 20rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#yearModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

#yearModalTitle {
  font-size: 2rem
}

#yearModal input {
  width: 4.5rem;
  font-size: 1.4rem;
}

#yearModal button {
  padding: 10px 50px;
}

.periodEnd:after, .currentPeriodEnd:after {
  content: "]";
  color: red;
  transform: translateY(-3px);
  font-size: 1.4rem;
  position: absolute;
}

.periodStart:before, .currentPeriodStart:before {
  content: "[";
  color: red;
  transform: translate(-9px, -3px);
  font-size: 1.4rem;
  position: absolute;
}

.currentPeriodEnd:after, .currentPeriodStart:before {
  font-weight: bold;
}

#periodLegend {
  grid-area: 8/2/10/10;
  font-size: 1.5rem;
}

#periodLegendTitle {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#legendList select {
  font-size: 1.5rem;
}

.hoursPresent {
  background-color: #d336
}

.hoursNotificationContainer {
  position: absolute;
  width: 3rem;
}

.hoursNotificationText {
  bottom: -1rem;
  text-align: center;
  width: 2.5rem;
  background-color: #c44;
  border-radius: 50%;
  padding: 0.2rem 0px;
  color: white;
  margin: 0px auto;
}

.hoursDetailRecord {  
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
  margin-top: 1rem;
}

#hoursModal {
  width: 21rem;
}

.hoursDetailHours {
  margin-right: 1rem;
}

#hoursModalRecords {
  max-height: 25rem;
  overflow-y: auto;
}

#editRecord {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 2rem);
  grid-row-gap: 1rem;
  justify-items: center;
  font-size: 1rem;
  align-items: center;
  margin-top: 1rem;
}

#editDate {
  grid-area: 1/1/2/3;
  font-family: "Quicksand", serif;
  max-width: min-content;
  font-size: 1.2rem;
}

#editHours, #editMinutes {
  width: 3rem;
  text-align: center;
  font-size: 1rem;
  align-self: end;
}

#editRecord .numberLabel {
  align-self: start;
  font-size: 1.5rem;
  margin-top: -1rem;
}

#editRecord .selectLabel {
  font-size: 1.2rem;
  justify-self: end;
  margin-right: 0.5rem;
}

#editRecord .selector {
  font-size: 1.5rem;
  justify-self: start;
  margin-left: 0.5rem;
}

#editDelete {
  grid-area: 6/1/7/3;
}
















































































.successAlert {
  background-color: white;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: opacity .5s;
  border-radius: 50%;
}

/** * Extracted from: SweetAlert * Modified by: Istiak Tridip */
.success-checkmark {
  width: 80px;
  height: 115px;
  position: absolute;
  top: calc(50% + 12px);
  transform: translate(-50%, -50%);
  left: calc(50% - 4px);
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #fff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, .5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #fff;
}
@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
 }
  5% {
    transform: rotate(-45deg);
 }
  12% {
    transform: rotate(-405deg);
 }
  100% {
    transform: rotate(-405deg);
 }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
 }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
 }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
 }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
 }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
 }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
 }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
 }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
 }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
 }
}