:root {
  --main-background: #933;
  --main-font-color: #fff;
}

body {
  font: 14px "Quicksand", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--main-font-color);
  background-color: var(--main-background);
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}

button {
  background-color: #0000;
  border: 2px solid var(--main-font-color);
  border-radius: 12px;
  padding: 5px 15px;
  color: var(--main-font-color);
  cursor: pointer;
  font-size: 3vw;
}


/*************************
*      Main Elements
**************************/

#main-container {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-rows: repeat(9, 8rem);
  grid-template-columns: repeat(10, 10%);
  row-gap: 20px;
  font-size: 5vw;
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
}

#hoursPrompt {
  grid-area: 1/1/2/11;
}

#date {
  grid-area: 2/1/3/11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#dateInput {
  font-size: 2rem;
}

#time {
  grid-area: 3/1/5/11;
  display: flex;
  justify-content: space-evenly;
}

#time div {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  flex-direction: column;
}

#time div input, #time div button {
  align-self: center;
}

#time div input {
  width: 10vw;
  font-size: 8vw;
  text-align: center;
}

#hoursTypeContainer {
  grid-area: 5/1/6/11;
  max-height: 2rem;
  justify-self: center;
}

#hoursType {
  font-size: 2rem;
}

#submitHours {
  grid-area: 6/1/7/11;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  padding: 10px 40px;
}

#footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 5vmin 8vmin;
  left: 0px;
  bottom: 0px;
  position: fixed;
  justify-content: space-between;
  font-size: 4vh;
  color: var(--main-background);
  background: var(--main-font-color);
}

